/* First Stylesheet */

body{
  display: block;
  font-family: Arial, Verdana, sans-serif;
  background-color: darkgray;
  padding: 10px;
  border-bottom: 5px dotted #aa88dd;
  border-width: thick; 
  background-image: url("https://anonymouspics.files.wordpress.com/2010/06/modern-art-germany.jpg");
  background-repeat:repeat-x;
  background-position: left top;
  background-attachment:fixed;
}

h1, h2 {
  background-color:#ee3e80;
  font-family: "Comic Sans MS", sans-serif, cursive;
  color: #aa434b; 
  text-transform: uppercase;
  margin: 5px;
  padding-bottom: 2px;
  text-align: center; 
}

p{
 font-family: "Comic Sans MS", Verdana, sans-serif;
 font-size: 0.8em;
 background-color: bisque;
 text-align: center;
 min-height: 10px;
 max-height: 25px;
 overflow: hidden;
 border-radius: 15px;
}

nav {
 text-align: center;
}

a{
 color: #dd3a7b;
 text-decoration: none; 
 cursor: crosshair;
}

a:hover{
 color: darkviolet;
 text-decoration: underline;
}

a:active{
 color: aqua;
}

ul {
 padding: 10px;
 list-style: inside circle;
 
 
  
}

li{
  margin: 5px 0px 5px 0px;
  
  
}

img {
  border-radius: 50%;
}

tr.odd{
  text-shadow: -1px -1px 1px #666666;
  
}

th{
  text-align: left;
  background-color: rebeccapurple;
  
}



blockquote{
  font-family: cursive, Verdana, sans-serif;
  font-size: 15px;
}


footer{
  font-style: italic;
}